@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: 0.5rem;
    --radius-md: 0.375rem;
    --radius-sm: 0.25rem;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-primary-container: var(--primary-container);
    --color-on-primary-container: var(--on-primary-container);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-secondary-container: var(--secondary-container);
    --color-on-secondary-container: var(--on-secondary-container);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-error-container: var(--error-container);
    --color-on-error-container: var(--on-error-container);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-surface: var(--surface);
    --color-surface-variant: var(--surface-variant);
    --color-surface-container: var(--surface-container);
    --color-surface-container-low: var(--surface-container-low);
    --color-surface-container-high: var(--surface-container-high);
    --color-surface-container-highest: var(--surface-container-highest);

    --color-on-surface: var(--on-surface);
    --color-on-surface-variant: var(--on-surface-variant);

    --color-outline: var(--outline);
    --color-outline-variant: var(--outline-variant);

    --color-inverse-surface: var(--inverse-surface);
    --color-inverse-on-surface: var(--inverse-on-surface);
    --color-inverse-primary: var(--inverse-primary);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(0.9831 0.0080 278.6);
    --foreground: oklch(0.2235 0.0455 253.8);
    --card: oklch(1.0000 0.0000 89.9);
    --card-foreground: oklch(0.2235 0.0455 253.8);
    --popover: oklch(1.0000 0.0000 89.9);
    --popover-foreground: oklch(0.2235 0.0455 253.8);
    --primary: oklch(0.4591 0.2031 261.4);
    --primary-foreground: oklch(1.0000 0.0000 89.9);
    --primary-container: oklch(0.5461 0.2152 262.9);
    --on-primary-container: oklch(0.9561 0.0214 283.1);
    --secondary: oklch(0.4734 0.0850 181.6);
    --secondary-foreground: oklch(1.0000 0.0000 89.9);
    --secondary-container: oklch(0.8891 0.1227 182.3);
    --on-secondary-container: oklch(0.4864 0.0866 183.1);
    --muted: oklch(0.9666 0.0157 266.3);
    --muted-foreground: oklch(0.3973 0.0256 276.3);
    --accent: oklch(0.9474 0.0249 263.3);
    --accent-foreground: oklch(0.2235 0.0455 253.8);
    --destructive: oklch(0.5060 0.1927 27.7);
    --destructive-foreground: oklch(1.0000 0.0000 89.9);
    --error-container: oklch(0.9183 0.0418 25.2);
    --on-error-container: oklch(0.4171 0.1702 27.4);
    --border: oklch(0.8294 0.0239 277.9);
    --input: oklch(0.8294 0.0239 277.9);
    --ring: oklch(0.4591 0.2031 261.4);
    --surface: oklch(0.9831 0.0080 278.6);
    --surface-variant: oklch(0.9143 0.0400 258.8);
    --surface-container: oklch(0.9474 0.0249 263.3);
    --surface-container-low: oklch(0.9666 0.0157 266.3);
    --surface-container-high: oklch(0.9310 0.0330 261.0);
    --surface-container-highest: oklch(0.9143 0.0400 258.8);
    --on-surface: oklch(0.2235 0.0455 253.8);
    --on-surface-variant: oklch(0.3973 0.0256 276.3);
    --outline: oklch(0.5688 0.0248 277.2);
    --outline-variant: oklch(0.8294 0.0239 277.9);
    --inverse-surface: oklch(0.3087 0.0421 254.4);
    --inverse-on-surface: oklch(0.9570 0.0203 264.5);
    --inverse-primary: oklch(0.8309 0.0838 271.8);
    --chart-1: oklch(0.4591 0.2031 261.4);
    --chart-2: oklch(0.4734 0.0850 181.6);
    --chart-3: oklch(0.646 0.222 41.116);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.5rem;
    --sidebar: oklch(0.9666 0.0157 266.3);
    --sidebar-foreground: oklch(0.2235 0.0455 253.8);
    --sidebar-primary: oklch(0.4591 0.2031 261.4);
    --sidebar-primary-foreground: oklch(1.0000 0.0000 89.9);
    --sidebar-accent: oklch(0.9474 0.0249 263.3);
    --sidebar-accent-foreground: oklch(0.2235 0.0455 253.8);
    --sidebar-border: oklch(0.8294 0.0239 277.9);
    --sidebar-ring: oklch(0.4591 0.2031 261.4);
}

.dark {
    --background: oklch(0.2235 0.0455 253.8);
    --foreground: oklch(0.9561 0.0214 283.1);
    --card: oklch(0.3087 0.0421 254.4);
    --card-foreground: oklch(0.9561 0.0214 283.1);
    --popover: oklch(0.3087 0.0421 254.4);
    --popover-foreground: oklch(0.9561 0.0214 283.1);
    --primary: oklch(0.8309 0.0838 271.8);
    --primary-foreground: oklch(0.2235 0.0455 253.8);
    --primary-container: oklch(0.5461 0.2152 262.9);
    --on-primary-container: oklch(0.9561 0.0214 283.1);
    --secondary: oklch(0.8891 0.1227 182.3);
    --secondary-foreground: oklch(0.2235 0.0455 253.8);
    --secondary-container: oklch(0.4864 0.0866 183.1);
    --on-secondary-container: oklch(0.8891 0.1227 182.3);
    --muted: oklch(0.3087 0.0421 254.4);
    --muted-foreground: oklch(0.8294 0.0239 277.9);
    --accent: oklch(0.3973 0.0256 276.3);
    --accent-foreground: oklch(0.9561 0.0214 283.1);
    --destructive: oklch(0.5060 0.1927 27.7);
    --destructive-foreground: oklch(1.0000 0.0000 89.9);
    --error-container: oklch(0.4171 0.1702 27.4);
    --on-error-container: oklch(0.9183 0.0418 25.2);
    --border: oklch(0.3973 0.0256 276.3);
    --input: oklch(0.3973 0.0256 276.3);
    --ring: oklch(0.8309 0.0838 271.8);
    --surface: oklch(0.2235 0.0455 253.8);
    --surface-variant: oklch(0.3973 0.0256 276.3);
    --surface-container: oklch(0.3087 0.0421 254.4);
    --surface-container-low: oklch(0.2690 0.0438 254.1);
    --surface-container-high: oklch(0.3087 0.0421 254.4);
    --surface-container-highest: oklch(0.3973 0.0256 276.3);
    --on-surface: oklch(0.9561 0.0214 283.1);
    --on-surface-variant: oklch(0.8294 0.0239 277.9);
    --outline: oklch(0.5688 0.0248 277.2);
    --outline-variant: oklch(0.3973 0.0256 276.3);
    --inverse-surface: oklch(0.9561 0.0214 283.1);
    --inverse-on-surface: oklch(0.2235 0.0455 253.8);
    --inverse-primary: oklch(0.4591 0.2031 261.4);
    --chart-1: oklch(0.8309 0.0838 271.8);
    --chart-2: oklch(0.8891 0.1227 182.3);
    --chart-3: oklch(0.828 0.189 84.429);
    --chart-4: oklch(0.769 0.188 70.08);
    --chart-5: oklch(0.577 0.245 27.325);
    --sidebar: oklch(0.3087 0.0421 254.4);
    --sidebar-foreground: oklch(0.9561 0.0214 283.1);
    --sidebar-primary: oklch(0.8309 0.0838 271.8);
    --sidebar-primary-foreground: oklch(0.2235 0.0455 253.8);
    --sidebar-accent: oklch(0.3973 0.0256 276.3);
    --sidebar-accent-foreground: oklch(0.9561 0.0214 283.1);
    --sidebar-border: oklch(0.3973 0.0256 276.3);
    --sidebar-ring: oklch(0.8309 0.0838 271.8);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
